* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lora';
}

.en {
  color: #a2a3a5;
}

.navbar-default {
  background-color: white;
  border: none;
}

.navbar-right.nav>li>a {
  padding-left: 6px;
  padding-right: 6px;
}

.navbar-left.nav>li>a:hover {
  font-weight: bold;
}

.navbar-left.nav>li.active>a, .navbar-left.nav>li.active>a:hover{
  font-weight: bold;
  background-color: transparent;
  color: black;
}

.cuadricula {
  margin-bottom: 30px;
}

/****************************** Intro ****************************/
#intro {
  	width: 100%;
  	text-align: center;
    padding-bottom: 130px;
    margin-top: 50px;
    min-height: 100vh;
}

#intro .main-title {
  	font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: default;
}

#intro .main-subtitle {
  	font-size: 12px;
    cursor: default;
    margin-bottom: 5px;
}

#intro .en {
  	font-size: 10px;
}

/********************************* content ************************************/

#content {
  margin-top: 100px;
  min-height: calc(100vh - 80px - 50px); /* viewport height - footer heigth - margin-top*/
}

#content .en {
  font-size: 12px;
}

#content li {
  margin-left: 40px;
  padding-left: 10px;
}

#content .bio {
  max-width: 750px;
}

#content a, #content a:link,  #content a:active {
  color: #ee920b;
  text-decoration: none;
}
#content a:hover{
  color: #d608cc !important;
  text-decoration: none;
}
#content a:visited {
  color: #9d3b0a;
  text-decoration: none;
}









/********************************* footer *************************************/

footer {
  background-color: #dbd9d9;
  color: white;
  font-size: 12px;
  width: 100%;
  padding: 20px;
  text-align: center;
}

footer a, footer a:link, footer a:visited, footer a:active {
  color: #666464;
}

footer a:hover {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

footer li {
  list-style: none;
}

footer .ws {
  white-space:pre;
  font-weight: bold;
}

footer .icons {
  margin-top: 5px;
}

footer .icons a{
  padding: 5px;
}
