
body {
  margin: 0px;
  font-family: 'Lora';
}

.navbar-default {
  background-color: white;
  border: none;
  color: Black;
  font-family: 'Lora';
}

.navbar-right.nav>li>a {
  padding-left: 6px;
  padding-right: 6px;
}


.cuadricula {
  margin-bottom: 30px;
}

/****************************** Intro ****************************/
#intro {
  	width: 100%;
  	text-align: center;
    padding-bottom: 100px;
    margin-top: 40px;
}

#intro .title-wrapper {
  	width: 100%;
    /*padding-top: 70px*/
}
