* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lora';
}

.en {
  font-style: italic;
  color: #a2a3a5;
}

.navbar-default {
  background-color: white;
  border: none;
  color: Black;
}

.navbar-right.nav>li>a {
  padding-left: 6px;
  padding-right: 6px;
}


.cuadricula {
  margin-bottom: 30px;
}

/****************************** Intro ****************************/
#intro {
  	width: 100%;
  	text-align: center;
    padding-bottom: 130px;
    margin-top: 50px;
}

#intro .main-title {
  	font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: default;
}

#intro .main-subtitle {
  	font-size: 12px;
    cursor: default;
    margin-bottom: 5px;
}

#intro .en {
  	font-size: 10px;
}


/********************************* footer *************************************/

footer {
  background-color: #bfbfbf;
  color: white;
  font-size: 12px;
  width: 100%;
  padding: 40px;
  text-align: center;
}

footer a, footer a:link, footer a:visited, footer a:active {
  color: #666464;
}

footer a:hover {
  text-decoration: none;
  color: white;
}

footer li {
  list-style: none;
}

footer .whiteSpace {
  white-space:pre;
}

footer .icons {
  margin-top: 5px;
}

footer .icons a{
  padding: 5px;
}
